// font-family: 'Josefin Sans', sans-serif;
//font-family: "Josefin Slab", serif;
//font-family: "Montez", cursive;
//font-family: "Montserrat", sans-serif;
//font-family: "Poppins", sans-serif;
/*@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab|Montaga|Montez|Dancing+Script|Montserrat|Montserrat+Alternates|Poppins&display=swap");*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "josefin sans", sans-serif;
}

body {
  background-color: #1c1d1c;
}

.wrapper {
  position: relative;
  display: flex;
}

.nav {
  width: 60px;
  height: 100%;
  position: fixed;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #181818;
}

.logo {
  background-color: #070707;
}

.logo h1 {
  font-family: "Josefin Slab", serif;
  background-color: #070707;
  color: whitesmoke;
  padding-top: 13px;
  padding-bottom: 5px;
  font-weight: 300;
  font-size: 36px;
  cursor: pointer;
}

.links li {
  width: 60px;
  height: 50px;
  padding: 10px 0;
  font-size: 12px;
  font-weight: bold;
}

.links i {
  font-size: 18px;
}

.links a {
  transform: translateY(5px);
  color: goldenrod;
}

.social-media {
  //background: #afafaf;
  transform: translateY(-50px);
  font-size: 95%;
}

.icon,
.fab,
.fas {
  //font-size: 20px;
  color: #747474;
}

.social-media i,
.social-media a {
  padding: 6px 0;
}

//here i wasn't sure should i leave it hovered or not
.fa-facebook-f/*:hover*/ {
  color: #0289ff;
  //transition: all 0.7s ease-in;
}
.fa-whatsapp/*:hover*/ {
  color: #1fff57c0;
  //transition: all 0.7s linear;
}
.fa-instagram/*:hover*/ {
  color: #d36d60;
  //transition: all 0.7s linear;
}
.fa-linkedin/*:hover*/ {
  color: #35b4f8;
  //transition: all 0.7s linear;
}
.fa-envelope/*:hover*/ {
  color: #cf2414;
  //transition: all 0.7s linear;
}

//----------- Hover Effect --------------------------

.links a,
.links li:hover i {
  display: none;
}

.links i,
.links li:hover a {
  display: block;
}

//-----------------------------------

.credentials {
  position: absolute;
  top: 180px;
  left: 200px;
  color: lightgray;
}

.credentials a {
  color: darkgoldenrod;
}

.main-content img {
  opacity: 75%;
  border-radius: 40%;
  float: right;
  position: absolute;
  top: 120px;
  right: 205px;
  height: 220px;
  width: auto;
  position: fixed;
}

// -------- Contact Section --------

.contact-section {
  background: url(/images/bg.png) no-repeat center;
  background-size: cover;
  padding: 88px 0;
}
.contact-section h1 {
  text-align: center;
  color: #ddd;
}
.border {
  width: 100px;
  height: 10px;
  background: #34495e;
  margin: 40px auto;
}

.contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #111;
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
}
.contact-form-text:focus {
  box-shadow: 0 0 10px 4px #34495e;
}

textarea.contact-form-text {
  resize: none;
  height: 120px;
}

.contact-form-btn {
  float: right;
  border: 0;
  background: #34495e;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.contact-form-btn:hover {
  background: #2980b9;
}

// --------- About Me ---------

.about-me {
  width: 58%;
  color: #747474;
  margin: auto;
  margin-top: 90px;
}

.about-me h1 {
  text-align: center;
  color: #ddd;
}

// font-family: 'Josefin Sans', sans-serif;
//font-family: "Josefin Slab", serif;
//font-family: "Montez", cursive;
//font-family: "Montserrat", sans-serif;
//font-family: "Poppins", sans-serif;

.about-me p {
  color: #ddd;
}

/*
.credentials p {
  color: rgb(95, 87, 67);
}

.credentials .name,
.credentials .m-left.name {
  color: #214e7a;
}
*/
